* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;

  #left-section {
    width: 50%;
    height: 100%;
    background-color: #fefefe;
    header {
      height: 10%;
      width: 100%;
      padding: 2rem 3rem;

      display: flex;
      gap: 7rem;

      .search {
        width: 300px;
        height: 50px;
        opacity: 0.5;
        border-radius: 30px;

        background-color: #efefef;
        align-items: center;
        display: flex;
        align-items: center;
        padding: 0rem 2rem;
        gap: 1rem;
        color: black;
        i {
          font-size: 1.5rem;
        }
        p {
        }
      }
    }
    #left-content {
      width: 100%;
      height: calc(100% - 10%);
      display: flex;
      align-items: center;
      padding-left: 5rem;
      gap: 9rem;
      h1 {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 3rem;
        font-style: italic;
        font-weight: 500;
      }
      .details {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-transform: capitalize;
        ul {
          li {
            line-height: 1.2;
            font-weight: 500;

            .s {
              opacity: 0.7;
              font-size: 1.1rem;
              font-weight: 400;
            }
          }
          li::marker {
            color: #ba3932;
          }
        }
      }
      .line {
        width: 200px;
        opacity: 0.2;
        height: 1px;
        background-color: black;
      }
    }
  }
  #ho {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  #right-section {
    width: 50%;
    height: 100%;
    background-color: #b63429;
    nav {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      li {
        list-style: none;
        font-size: 1.3rem;
        text-transform: capitalize;
        color: white;
      }
    }
    #right {
      width: 100%;
      height: calc(100% - 10%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 8rem;
      h1 {
        font-family: sans-serif;
        font-size: 4rem;
        font-weight: 500;
        color: white;
      }
      .mid {
        width: 50%;
        height: 40%;
        display: flex;
        align-items: center;
        gap: 1rem;
        .ins {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            color: white;
          }
        }
        #high {
          width: 1px;
          opacity: 0.5;
          height: 130px;
          background-color: white;
        }
        .info {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .infobox {
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-weight: 400;
            gap: 0.5rem;
            font-weight: 400;
            color: white;

            #honey {
              text-transform: none;
            }

            i {
              font-size: 2rem;
              color: #e3c39b;
            }
            p {
              opacity: 0.7;
            }
          }
        }
      }
      .botom {
        width: 50%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        h1 {
          color: #f0d39c;
        }
        .btbtns {
          .one {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: white;
          }
        }
        button {
          background-color: #dabc92;
          padding: 0.8rem 2.5rem;
          font-size: 1rem;
          font-weight: 500;
          border-radius: 10px;
          border: none;
        }
      }
    }
  }
}
